.main {
  margin: 2% 2%;

  position: absolute;

  border: 1px solid black;
  width: 90vw;
  max-height: 95vh;

  display: flex; 
  justify-items: center;
}
.imgtag {
  flex-grow: 30%;
}

.form{

    width: 1100px;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}
.fbox{

    padding-left: 200px;

    display: grid;
    grid-template-columns:25% 25% 50%;
    grid-template-rows:  1fr 1fr 1fr;

}
.inbox{
    grid-column: 1/-1;
}





