.main {
  margin: 2% 2%;

  position: absolute;

  border: 1px solid black;
  width: 90vw;
  max-height: 95vh;

  display: flex; 
  justify-items: center;
}
.imgtag {
  flex-grow: 30%;
}

.form{
  
  width: 1100px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.fbox{

  max-width: 400px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr;
}

.inbox{
  max-width: 200px;

}