.wrapper{
    display: grid;
    align-items: center;
    margin: 10px;
    grid-template-columns: 1fr auto;
}
.text-input{

    border-radius: 20000px;
    padding: 0.7rem 1rem;
    font-size: 20px;
    grid-column: 1/-1;
    grid-row: 1/-1;
    align-items: center;
 
}

button{
    grid-column: 2/-1;
    grid-row: 1/-1;
  border-radius: 20px;
    margin:  10px;
 
}
.wrapper1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
}

.box{
    background-color: yellowgreen;
    height: 100px;
}