*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
   height: 80vh;
   width: 100%;
    left: 465px;
    top: 337px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:#E5E5E5;
    border: #191D63;

}
.header p{
    grid-row: auto;
    display: grid;
left: 635px;
top: 53px;
text-align: center;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
}

.main p{
   
    width: 690px;
    height: 76px;
    left: 375px;
    top: 181px;
    display: grid;
   
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    
    
    text-align: center;
    
    color: #191D63;
}

.box{
    height: 50px;
    width: 200px;
    border: 2px solid;
    align-items: center;
    justify-content: center;
    display: grid;
}

/* .option .HEET{

width: 510px;
height: 81px;
left: 465px;
top: 337px;
margin: 20px;
background: #F4F3F6;
border-radius: 8px;
}
.option .HEET_1{
   
width: 510px;
height: 81px;
left: 465px;
top: 337px;
margin: 20px;
background: #F4F3F6;
border-radius: 8px;
}
.option .HEET_2{
    
width: 510px;
height: 81px;
left: 465px;
top: 337px;
margin: 20px;
background: #F4F3F6;
border-radius: 8px;
}
.footer{
    width: 100%;
    color: #191D63;
} */