.mainC {
    @apply flex justify-center items-center
}

.mainC1 {
    @apply flex flex-col items-center
}

h2,
p {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.inp {
    background-color: white;

    @apply rounded-xl p-4 mx-2
}

.btnn {
    color: black;
    background-color: white;

    @apply rounded-xl p-4
}