/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
  font-family: "Fraunces", serif;
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.card {
  border-radius: 10px;
  display: flex;
  max-width: 666px;
  background-color: white;
  margin: 0 1rem;
}

.card-img {
  width: 50%;
}

.card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.details {
  width: 50%;
  padding: 2rem;
}

.details .name {
  color: hsl(212, 21%, 14%);
  padding-right: 2rem;
  margin-bottom: 1.75rem;
}

.details .description {
  font-family: "Montserrat";
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 22px;
  margin-bottom: 1.75rem;
}

.heet {
  font-family: "Montserrat";
  letter-spacing: 3px;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1.75rem;
}

.price {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.75rem;
}

.price .current_price {
  color: hsl(158, 36%, 37%);
}

.price .old_price {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.details .btn {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: hsl(158, 36%, 37%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Montserrat";
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.details .btn:hover {
  background-color: hsl(212, 21%, 14%);
} */
* {
  padding: o;
  margin: o;
  box-sizing: border-box;
}

.main {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* body {
  font-family: "Fraunces", serif;
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.photo {
  border-radius: 10px;
  display: flex;
  background: white;
  margin: 0.1rem;
  max-width: 665px;
}

.photo img {
  width: 50%;
}

.details {
  width: 50%;
  padding: 2rem;
}

.details .name {
  padding-right: 2rem;
  margin-bottom: 1.75rem;
  color: hsl(212, 21%, 14%);
}

.details p {
  line-height: 22px;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1.75rem;
}

.details .dharmi {
  letter-spacing: 3px;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

.price {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.75rem;
}

.price .current_price {
  color: hsl(158, 36%, 37%);
}

.price .old_price {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.btn {
  /* width: 100%; */
  border: 0;
  outline: 0;
  background-color: hsl(158, 36%, 37%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Montserrat";
  padding: 1rem 2rem;
  border-radius: 10px;
}