* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;

  font-family: "Poppins", sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
/* .logo a img {
  font-size: 2rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
  font-weight: bold;
  margin: 20px;
  display: grid;
} */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  font-size: 2rem;
  color: coral;
  font-weight: 600;
  cursor: default;
  font-weight: bold;
  
}

.header .navbar h1{
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: #e5e5e5;
 
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

}
.main h2 {
  height: 76px;
  left: 375px;
  margin-top: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #191d63;
}

/* css */

.quiz-header {
  padding: 4rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.box {
  display: grid;
  height: 70px;
  width: 300px;
  border: 2px solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin: 20px;
}

.quiz-header .box button {
  border-radius: 99999px;
  background-color: #44b927;
  width: 50px;
  padding: 15px;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

button {
  background-color: #03cae4;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
button:hover {
  background-color: #04adc4;
}
button:focus {
  outline: none;
  background-color: #44b927;
}
.quiz-header .detail {
  border: 2px solid;
  height: 74px;
  width: 283px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
