 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}
/*.container{
    background-color:hsl(0, 100%, 74%);
    min-height:100vh;
    display : flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.items{
    background-color:hsl(148, 89%, 31%);
    min-height:100vh;
    display : flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.item{
    background-color: rgb(41, 60, 2);
    height: 25rem;
    width: 16rem;
    padding : 2.5rem;
    position: relative;
}
 
.item .image{
    margin-bottom : 1.5rem;
}
.item h1{
    color: hsl(0, 100%, 11%);
    font-size:2.3rem;
    font-family: 'Big Shoulders Display', cursive;
}
.item p{
    color : hsla(0, 0%, 100%, 0.75);
    margin-top : 1.5rem;
    margin-bottom: 6rem;
    text-shadow: 6px 0px 5px black;
}

 .item button{
    position: absolute;
    bottom: 0;
    background : hsl(130, 92%, 36%);
    margin-bottom: 2rem;
    text-align: center;
    border: 2px solid hsl(0, 100%, 50%);
    padding:12px 18px;
    border-radius:30px;
    color :hsl(231, 100%, 22%);
    text-transform: capitalize;
} 
.first{
    background-color:hsl(31, 77%, 52%);
    border-radius:30px 0 0 30px;
}
.second{
    background-color:hsl(184, 100%, 22%);
}
.third{
    background-color:hsl(179, 100%, 13%);
    border-radius: 0 30px 30px 0px;

}

.first button{
    color:hsl(31, 77%, 52%);
}
.second button {
    color:hsl(184, 100%, 22%);
}
.third button{
    color:hsl(179, 100%, 13%);
}
button:hover{
    background-color:transparent;
    color:hsl(0, 0%, 95%);
}  */


.task{
    background-color:hsl(148, 89%, 31%);
    min-height:100vh;
    display : flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.page1{
    background-color: rgb(41, 60, 2);
    height: 25rem;
    width: 16rem;
    padding : 2.5rem;
    position: relative;
}
.page2{
    background-color: rgb(41, 60, 2);
    height: 25rem;
    width: 16rem;
    padding : 2.5rem;
    position: relative;
}
.page3{
    background-color: rgb(41, 60, 2);
    height: 25rem;
    width: 16rem;
    padding : 2.5rem;
    position: relative;
}
.page1 image{
    margin-bottom : 1.5rem;
}
.page2 image{
    margin-bottom : 1.5rem;
}
.page3 image{
    margin-bottom : 1.5rem;
}
.page1 h1{
    color: hsl(0, 100%, 11%);
    font-size:2.3rem;
    font-family: 'Big Shoulders Display', cursive;
}     
.page2 h1{
    color: hsl(0, 100%, 11%);
    font-size:2.3rem;
    font-family: 'Big Shoulders Display', cursive;
}
.page3 h1{
    color: hsl(0, 100%, 11%);
    font-size:1.3rem;
    font-family: 'Big Shoulders Display', cursive;
}
 .page1 p{
    color : hsla(0, 0%, 100%, 0.75);
    margin-top : 1.5rem;
    margin-bottom: 6rem;
    text-shadow: 6px 0px 5px black;
    font-size: 15px;
}
.task .page2 p{
    color : hsla(0, 0%, 100%, 0.75);
    margin-top : 1.5rem;
    margin-bottom: 6rem;
    text-shadow: 6px 0px 5px black;
}
.task .page3 p{
    color : hsla(0, 0%, 100%, 0.75);
    margin-top : 1.5rem;
    margin-bottom: 6rem;
    text-shadow: 6px 0px 5px black;
}
.task .page1 button{
    position: absolute;
    bottom: 0;
    background : hsl(130, 92%, 36%);
    margin-bottom: 2rem;
    text-align: center;
    border: 2px solid hsl(0, 100%, 50%);
    padding:12px 18px;
    border-radius:30px;
    color :hsl(231, 100%, 22%);
    text-transform: capitalize;
}
.task .page2 button{
    position: absolute;
    bottom: 0;
    background : hsl(130, 92%, 36%);
    margin-bottom: 2rem;
    text-align: center;
    border: 2px solid hsl(0, 100%, 50%);
    padding:12px 18px;
    border-radius:30px;
    color :hsl(231, 100%, 22%);
    text-transform: capitalize;
}
.task .page3 button{
    position: absolute;
    bottom: 0;
    background : hsl(130, 92%, 36%);
    margin-bottom: 2rem;
    text-align: center;
    border: 2px solid hsl(0, 100%, 50%);
    padding:12px 18px;
    border-radius:30px;
    color :hsl(231, 100%, 22%);
    text-transform: capitalize;
}

.page1{
    background-color:hsl(31, 77%, 52%);
    border-radius:30px 0 0 30px;
}
.page2{
    background-color:hsl(184, 100%, 22%);
    border-radius:30px 0 0 30px;
}
.page3{
    background-color:hsl(179, 100%, 13%);
    border-radius: 0 30px 30px 0px;
}



