p {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

.title {
  background-color: red;
  color: white;
}

.btn {
  background-color: #ffac30;
  padding: 12px 0;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: #212330;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 154.3%;
  margin: 10px;
}
